<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <title>
            {% block title %}WEB-X-ECOMM{% endblock %}
        </title>
        <link
        rel="icon" type="image/png" href="images/favicon.png"> <!-- fonts -->
        <link
        rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i"> <!-- css -->
        <link rel="stylesheet" href="public/vendor/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="public/vendor/owl-carousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="public/vendor/photoswipe/photoswipe.css">
        <link rel="stylesheet" href="public/vendor/photoswipe/default-skin/default-skin.css">
        <link rel="stylesheet" href="public/vendor/select2/css/select2.min.css">
        <link rel="stylesheet" href="public/css/style.css">
        <link rel="stylesheet" href="public/css/style.header-classic-variant-one.css" media="(min-width: 1200px)">
        <link
        rel="stylesheet" href="public/css/style.mobile-header-variant-one.css" media="(max-width: 1199px)"> <!-- font - fontawesome -->
        <link rel="stylesheet" href="public/vendor/fontawesome/css/all.min.css">
    </head>
    <body>
        {% block body %}
            <div id="app">
                <div
                    class="site">
                    <header-mobile></header-mobile>
                    <header-desktop></header-desktop>
                    <!-- Both headers will render based on screen size -->
                    <main class="site__body">
                        {% block content %}{% endblock %}
                    </main>
                    <!-- Add the footer here -->
                    <site-footer></site-footer>
                </div>
            </div>
        {% endblock %}
        <!-- ================= Vendor JS ================= -->
        <script src="public/vendor/jquery/jquery.min.js"></script>
        <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="public/vendor/owl-carousel/owl.carousel.min.js"></script>
        <script src="public/vendor/nouislider/nouislider.min.js"></script>
        <script src="public/vendor/photoswipe/photoswipe.min.js"></script>
        <script src="public/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
        <script src="public/vendor/select2/js/select2.min.js"></script>
        <script src="public/js/number.js"></script>
        <script src="public/js/main.js"></script>
        <!-- ✅ Vite Vue Entry -->
        <script type="module" src="/public/dist/layout.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>